################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Guni04/v17
/.vs/Guni04/FileContentIndex
/.vs
